
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<a href="Index">Categories</a>
<form  method="post">
    <label> Name</label>
    <input name="Name"  />
    <label> Description</label>
    <input name="Description"  />
    <button class="success" type="submit" >SUBMIT</button>
</form>